@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&family=Nova+Square&display=swap');
:root {
    background-image: url(/images/BUFFY_NFH_V1_1920x1080.jpg);
    background-size:cover;
    background-repeat: no-repeat;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Nova Square", cursive;
   
}

h1 {
    font-size: 5.6rem;
    color: rgb(224, 24, 24);
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 1800;
    
    
}

h2 {
    font-size: 4.2rem;
    margin-bottom:4rem;

}

.container {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin:auto;
    padding: 2rem;

}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align:center;
}

.hidden {
    display: none;
}

.btn {
    height: 70px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(#bf8006, #f8d201);
    color: #191e2d;
    font-size: 23px;
    font-weight: 700;
    border-radius: 30px 10px;
    border: 1px solid #f3d031;
    margin-top: 3rem;
    
}

.btn:hover {
    cursor: pointer;
   
    box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.5), inset -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.btn[disabled]:hover {
    cursor: not not-allowed;
    box-shadow: none;
    transform: none;
}



/* End Page CSS */
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}





.fa-house {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26)
}
